<h1>This is a great article</h1>

<p>
  Title: <%= @article.title %>
</p>

<p>
  Description: <%= @article.description %>
</p>

<p>
  It was created by <%= @article.user.username %>
</p>

<% if @article.categories.any? %>
  <p>
    Categories: <%= render 'categories/badge_category', categories: @article.categories %>
  </p>
<% end %>

<%= link_to 'To the list', articles_path %>
